$primary-color: crimson;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: green;
$max-width: 1100px;

// set text-color based on the bg
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// set background and text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

// Margin and Padding
$spaceamounts: (1, 2, 3, 4, 5);
@each $space in $spaceamounts {
  // all aroun margin
  .m-#{$space} {
    margin: #{$space}rem;
  }
  // Vertical Margin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }
  // Horizontal Margin
  .mx-#{$space} {
    margin: 0 #{$space}rem;
  }

  // all around Padding
  .p-#{$space} {
    padding: #{$space}rem;
  }
  // Vertical Margin
  .py-#{$space} {
    padding: #{$space}rem 0;
  }

  // Vertical Margin
  .px-#{$space} {
    padding: 0 #{$space}rem;
  }
}
